//
   Created by justin on 26/06/16.

html
    head
        title #{title}
        script(src='js/main.js')
        link(rel='stylesheet',href='/Users/justin/WebstormProjects/serverGPS/public/css/style.css')
    body
        div
            #wrapper
            p Usage: /trucks/:id:
